In [2]:
import pandas as pd

In [4]:
pd.__version__

'1.4.4'

In [6]:
from sqlalchemy import create_engine

In [8]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

/Users/ismarplsantos/.zshenv:source:2: no such file or directory: /Users/ismarplsantos/.zshenvÂ
--2023-01-21 16:52:26--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.202.80, 54.231.132.224, 52.216.132.237, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.202.80|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv.1'

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-01-21 16:52:27 (37.2 MB/s) - 'taxi+_zone_lookup.csv.1' saved [12322/12322]

In [11]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [13]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [17]:
engine = create_engine('postgresql://root:root@localhost:8000/ny_taxi')

In [19]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [20]:
len(df_zones)

265